In [1]:
from tenzing.core.model_implementations.typesets import tenzing_standard
from tenzing.core.typesets import infer_type
from tenzing.core.model_implementations import *
import pandas as pd
import datetime

%load_ext autoreload
%autoreload 2

In [2]:
df = pd.DataFrame({'Integer  Column': [1, 2, 3], 
                   'Float Column': [2.1, 3.5, 4], 
                   'String Column': ['howdy', 'howdy', 'doody'],
                   'Datetime Column': pd.to_datetime([datetime.date(2011,1,1), datetime.date(2012, 1, 1), datetime.date(2013,1,1)])})

In [3]:
ts = tenzing_standard()
_ = ts.prep(df)

ts.summary_report(df)

In [4]:
ts.column_type_map

{'Integer  Column': tenzing_integer,
 'Float Column': tenzing_float,
 'String Column': tenzing_string,
 'Datetime Column': tenzing_timestamp}

In [5]:
ts.infer_types(df)

{'Integer  Column': tenzing_integer,
 'Float Column': tenzing_float,
 'String Column': tenzing_string,
 'Datetime Column': tenzing_timestamp}